<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="base"           level="INFO"/>
    <logger name="stepdefinitions" level="INFO"/>
    <logger name="utils"          level="INFO"/>

    <logger name="io.appium"      level="WARN"/>
    <logger name="org.openqa.selenium" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
